body{
    margin: 0%;
}
.header-1{
    height: 50px;
    width: 100%;
    border-bottom: 3px solid papayawhip;
}
.img-p-div{
    float: left;
    width: 43%;
    padding-left: 25px;
    padding-top: 7px;
}
.p-img{
    border-radius: 50%;
}
.div-title{
   padding-top: 4px;
   float: left;
   width: 41%;
}
.title{
    font-size: 28px;
    font-family: arial black;
    color: black;
    margin: 0%;
}
.div-login{
    padding-top: 10px;
    float: left;
}
.bt-login{
    background-color: transparent;
    border: 2px solid black;
    height: 30px;
    width: 63px;
    font-family: Arial;
    font-size: 20px;
}
.div-register{
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 15px;
    float: right;
}
.bt-register{
    background-color: transparent;
    border: 2px solid black;
    height: 30px;
    width: 90px;
    font-family: Arial;
    font-size: 20px;
   
}
@media screen and (min-width: 1920px){
    .header-1{
        height: 60px;
    }
    .title{
        font-size: 38px;
        font-family: Arial Black;
    }
    .div-title{
        padding-top: 2px;
        width: 42%;
    }
    .bt-login{
        height: 40px;
        width:93px ;
        font-size: 30px;
        border: 4px solid black;
    }
    .bt-register{
        height: 40px;
        width:130px ;
        font-size: 30px;
        border: 4px solid black;
    }
}
@media screen and (min-width: 1325px){
    .div-title{
        width: 40%;
    }
}